 /********************************************************
    MEDIA QUERY TABLET
 **********************************************************/
 @media screen and (min-width: 768px) {

     /* Header uguale per il mobile */
     /* ------------------------------ */

     .container {
         width: 80%;
         margin: 0 auto;
         max-width: 1200px;
     }

     /* ---------- HERO -------- */
     .container,
     .hero {
         flex-wrap: wrap;
         display: flex;
         gap: 2px;
         padding-right: 0;
     }

     .hero-wrapper {
         margin-top: 70px;

     }

     .big-card {
         width: 66.2%;
         padding: 30px 30px 0 30px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
     }

     .card-right {
         width: 33%;
         padding: 30px;
     }

     .card {
         width: 33%;
         padding: 30px;
     }

     .big-card,
     .card {
         margin-right: 0;
     }

     .hero-phone-img {
         width: 50%;
         text-align: left;
         margin-left: 0;
     }


     /* <!---------- SEZIONE STRATEGIC PLANNING -----------> */
     .strategic {
         text-align: center;
     }

     .strat-left-text {
         text-align: left;
         padding: 10px;
     }

     /* <!---------- SEZIONE TESTIMONIAL -----------> */
     .cardtest {
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 020px;
     }

     .testimonial-text-right,
     .imgcircle {
         text-align: left;

     }

     .imgcircle {
         display: inline-block;
         width: 20%;
         margin-right: 20px;
     }

     .img-circle-test {
         width: 100%;
     }

     .testimonial-text-right {
         display: inline-block;
         width: 80%;

     }

     /* <!----------- SEZIONE BENEFIT OF WORKING ------------------> */
     .wrapper-benefit {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         gap: 35px;
     }

     .beneft-card {
         width: 47%;
     }

     /* <!---------------------- SEZIONE ABOUT US  ----------------------> */
     .about-us {
         display: flex;
         justify-content: space-between;
     }

     .about-left {
         width: 60%;
     }

     .about-right {
         width: 30%;
     }
     .imgcircle-about-us{
        width: 50%;
     }
     .h-about-us{
        line-height: 30px;
        font-size: 1.2rem;
     }
     
 }



 /**********************************************************
    MEDIA QUERY DESKTOP
 **********************************************************/

 @media screen and (min-width: 992px) {

     /* ----------- HEADER --------- */
     .hamburger-menu {
         display: none;
     }

     .header-menu {
         display: flex;
     }

     /* ---------- HERO -------- */
     .big-card {
         display: flex;
         flex-direction: row;
     }

     .hero-phone-img {
         width: 30%;
         display: flex;
         align-items: flex-end;
         margin-top: 20px;
     }


     .texthero {
         width: 70%;
     }


     /* <!---------- SEZIONE STRATEGIC PLANNING -----------> */
     .containerstrategic {
         display: flex;
         justify-content: space-between;
         width: 80%;
         margin: 0 auto;
         max-width: 1200px;
     }

     .strategic {
         display: flex;
         flex-direction: row;
     }

     .strategic-left {
         /* justify-content: flex-start; */
         width: 40%;
     }

     .app-dev-right {
         margin-top: 100px;
         /* align-items: flex-end; */
         width: 40%;
     }

     /* <!---------- SEZIONE TESTIMONIAL -----------> */
     .imgcircle {
         width: 20%;
     }

     .testimonial-text-right {
         width: 80%;

     }

     /* <!----------- SEZIONE BENEFIT OF WORKING ------------------> */
     .wrapper-benefit {
         gap: 28px;
     }

     .beneft-card {
         width: 31%;
     }

 }