 /************************************************
    MEDIA QUERY TABLET
 ************************************************/
 @media screen and (min-width: 768px) {

     /* Header uguale per il mobile */
     /* ------------------------------ */

     .container {
         width: 80%;
         margin: 0 auto;
         max-width: 1200px;
     }

     /* ---------- HERO -------- */
     .container,
     .hero {
         flex-wrap: wrap;
         display: flex;
         gap: 2px;
         padding-right: 0;
     }

     .hero-wrapper {
         margin-top: 70px;
         align-items: center;
     }

     .big-card {
         width: 66.3%;
     }

     .card-right {
         width: 33%;
     }

     .card {
         width: 33%;
     }

     .big-card,
     .card {
         padding: 30px;
         margin-right: 0;
     }

     /* <!---------- SEZIONE STRATEGIC PLANNING -----------> */
     .strategic {
         text-align: center;
     }

     .strat-left-text {
         text-align: left;
         padding: 10px;
     }



 }



 /************************************************
    MEDIA QUERY DESKTOP
 ************************************************/

 @media screen and (min-width: 992px) {

     /* ----------- HEADER --------- */
     .hamburger-menu {
         display: none;
     }

     .header-menu {
         display: flex;
     }

     /* <!---------- SEZIONE STRATEGIC PLANNING -----------> */
     .strategic {
         display: flex;

     }
 }