/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  img{
    max-width: 100%;
  }
  
  body{
    font-family:'PT Sans';
    font-size: clamp( 1.8rem, calc(3vh + 0.8), 3rem);
  }

  /* COMMON */
.container {
    width: 100%;
    padding: 0px 1rem;
  }


  /************************************************
    UTILITIES
 ************************************************/
.flex {
    display: flex;
  }

  .centre{
    justify-content: center;
    align-items: center;
  }
  .justify-content-between {
    justify-content: space-between;
  }
  
  /* HEADER */
  .header {
    background-color: #0084FD;
    height: 60px;
  }

  .logo-hed img{
    vertical-align: middle;
}

  .header-menu {
    display: none;
  }

  .header-menu ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
  }
  
  .hamburger-menu-btn {
    font-size: 1.6rem;
    border: 0;
    background-color: transparent;
  }

/************************************************
    MEDIA QUERY DESKTOP
 ************************************************/

